<div class='container'>
    <h2>Connecting & Participating</h2>

    <p><strong>Join in from where you are:</strong> No need to go anywhere - if you'd like to participate remotely, start by having a look at the milestones above to see what tasks are still open, and send a pull request with your ideas to the corresponding repo.</p>
    <p><strong>Get together with the community:</strong> If you'd like to get together with other people working on these lessons live, check out the map below for live sites - click on a pin for details on how to join the site nearest you.</p>
    <p><strong>Want to help, but not sure how to contribute?</strong> In addition to contributions, every lesson listed above needs <strong>proofreaders and bugtesters</strong>; click on the Lesson link in the table above, read through each chapter (look for files called '01-title.md', '02-title.md' in the repo), and most importantly <strong>try every command</strong> - if anything is unclear or anything doesn't work, please let the maintainers know immediately by opening an issue in the same repository, or making a note on the corresponding etherpad linked from the table above.</p>
    <p><strong>Want to host a live site?</strong> Open an issue <a href='{{site.github.issues_url}}'>here</a> with the address and room number and times you'll be open for, and we'll add you to the map.</p>
</div>
