<div class='container center headline'>

    <h3>You're invited to the</h3>
    <h1>Software Carpentry Curriculum Bug Barbeque</h1>
    <h3>June 13, 2016</h3>

    <p>It's almost time to publish the next version of <a href='http://software-carpentry.org/lessons/'>Software Carpentry's lessons</a>, 
    and we need your help! Get together in person or participate remotely to close issues, finish PRs and make our 
    lessons better than ever in a one day sprint on June 13. Once complete, these lessons will be <strong>published with a
    DOI</strong>, so all our contributors can get a citation for their hard work.</p>

</div>
