<div class='container' id='lessons'>
    <h2>Lesson Lineup</h2>
    <p>Here are the lessons we're working on at the bug barbeque; start by checking out the <strong>milestone</strong> for the lesson you're interested in to see what still needs doing, and also have a look at the <strong>etherpad</strong> to chat with the maintainers and other collaborators, ask questions and find out what's happening. 

    <p>Join in the global conversation on <strong><a href='http://pad.software-carpentry.org/bug-bbq-2016'>this etherpad</a>.</p>

    <div class='center-block'>
        <table style='margin:0em auto 2em auto'>
            <tr class='header'>
                <td>Core Lesson</td>
                <td>Milestone</td>
                <td>Etherpad</td>
		<td>Status</td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/shell-novice'>The Unix Shell</a></td>
                <td><a href='https://github.com/swcarpentry/shell-novice/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-shell'>Etherpad</a></td>
		<td></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/git-novice'>Version Control with Git</a></td>
                <td><a href='https://github.com/swcarpentry/git-novice/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-git'>Etherpad</a></td>
		<td></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/hg-novice'>Version Control with Mercurial</a></td>
                <td><a href='https://github.com/swcarpentry/hg-novice/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-mercurial'>Etherpad</a></td>
		<td></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/sql-novice-survey'>Using Databases and SQL</a></td>
                <td><a href='https://github.com/swcarpentry/sql-novice-survey/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-sql'>Etherpad</a></td>
		<td>13:39 UTC: all PRs merged or closed</td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/python-novice-inflammation'>Programming with Python</a></td>
                <td><a href='https://github.com/swcarpentry/python-novice-inflammation/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-python'>Etherpad</a></td>
		<td></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/r-novice-inflammation'>Programming with R</a></td>
                <td><a href='https://github.com/swcarpentry/r-novice-inflammation/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-r-inflammation'>Etherpad</a></td>
		<td></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/r-novice-gapminder'>R for Reproducible Scientific Analysis</a></td>
                <td><a href='https://github.com/swcarpentry/r-novice-gapminder/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-r-gapminder'>Etherpad</a></td>
		<td></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/matlab-novice-inflammation'>Programming with MATLAB</a></td>
                <td><a href='https://github.com/swcarpentry/matlab-novice-inflammation/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-matlab'>Etherpad</a></td>
		<td></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/make-novice'>Automation and Make</a></td>
                <td><a href='https://github.com/swcarpentry/make-novice/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-make'>Etherpad</a></td>
		<td>13:52 UTC: all PRs merged or closed</td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/instructor-training'>Instructor Training</a></td>
                <td><a href='https://github.com/swcarpentry/instructor-training/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-instructor-training'>Etherpad</a></td>
		<td>14:25 UTC: all PRs merged or closed</td>
            </tr>
        </table>
    </div>

    <div class='center-block'>
        <table style='margin:0em auto 2em auto'>
            <tr class='header'>
                <td>Elective Lesson</td>
                <td>Milestone</td>
                <td>Etherpad</td>
		<td>Status</td>
            </tr>
            <tr>
                <td><a href='https://github.com/alex-konovalov/gap-lesson'>Computational Algebra with GAP</a></td>
                <td><a href='https://github.com/alex-konovalov/gap-lesson/milestones/1.0'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-gap'>Etherpad</a></td>
		<td>15:37 UTC: all PRs merged or closed</td>
            </tr>
            <tr>
                <td><a href='https://github.com/ropenscilabs/r-docker-tutorial'>Reproducible Research with Docker</a></td>
                <td><a href='https://github.com/ropenscilabs/r-docker-tutorial/issues'>Issues</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-docker'>Etherpad</a></td>
		<td></td>
            </tr>
        </table>
    </div>

</div>

