<div class='container' id='lessons'>
    <h2>Lesson Lineup</h2>
    <p>Here are the lessons we're working on at the bug barbeque; start by checking out the <strong>milestone</strong> for the lesson you're interested in to see what still needs doing, and also have a look at the <strong>etherpad</strong> to chat with the maintainers and other collaborators, ask questions and find out what's happening. 

    <div class='center-block'>
        <table style='margin:0em auto 2em auto'>
            <tr class='header'>
                <td>Lesson</td>
                <td>Milestone</td>
                <td>Etherpad</td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/shell-novice'>The Unix Shell</a></td>
                <td><a href=''>TBD</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-shell'>Etherpad</a></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/git-novice'>Version Control with Git</a></td>
                <td><a href=''>TBD</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-git'>Etherpad</a></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/hg-novice'>Version Control with Mercurial</a></td>
                <td><a href=''>TBD</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-mercurial'>Etherpad</a></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/sql-novice-survey'>Using Databases and SQL</a></td>
                <td><a href=''>TBD</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-sql'>Etherpad</a></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/python-novice-inflammation'>Programming with Python</a></td>
                <td><a href=''>TBD</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-python'>Etherpad</a></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/r-novice-inflammation'>Programming with R</a></td>
                <td><a href=''>TBD</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-r-inflammation'>Etherpad</a></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/r-novice-gapminder'>R for Reproducible Scientific Analysis</a></td>
                <td><a href='https://github.com/swcarpentry/r-novice-gapminder/milestones/Version%205.4'>Milestone</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-r-gapminder'>Etherpad</a></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/matlab-novice-inflammation'>Programming with MATLAB</a></td>
                <td><a href=''>TBD</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-matlab'>Etherpad</a></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/make-novice'>Automation and Make</a></td>
                <td><a href=''>TBD</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-make'>Etherpad</a></td>
            </tr>
            <tr>
                <td><a href='https://github.com/swcarpentry/instructor-training'>Instructor Training</a></td>
                <td><a href=''>TBD</a></td>
                <td><a href='http://pad.software-carpentry.org/bug-bbq-2016-instructor-training'>Etherpad</a></td>
            </tr>

        </table>
    </div>

</div>

